<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1102</key>
	<string>选手已经申请过,不能重复申请</string>
	<key>-1101</key>
	<string>活动不存在</string>
	<key>-1007</key>
	<string>购票数量应大于0</string>
	<key>-1005</key>
	<string>没有从汽车品牌</string>
	<key>-1004</key>
	<string>商品不存在</string>
	<key>-1003</key>
	<string>商店不存在</string>
	<key>-1002</key>
	<string>酒店不存在</string>
	<key>-1001</key>
	<string>房间不存在</string>
	<key>-902</key>
	<string>超出最大抵扣金额</string>
	<key>-113</key>
	<string>请先填写摄影师个人资料</string>
	<key>-901</key>
	<string>余额不足</string>
	<key>-801</key>
	<string>不是自己的旅图圈</string>
	<key>-800</key>
	<string>旅图圈不存在</string>
	<key>-700</key>
	<string>攻略没找到</string>
	<key>-600</key>
	<string>景区没找到</string>
	<key>-500</key>
	<string>地区没找到</string>
	<key>-111</key>
	<string>手机号没有关联的用户</string>
	<key>-110</key>
	<string>Openid没有关联的用户</string>
	<key>-104</key>
	<string>密码错误</string>
	<key>-1</key>
	<string>服务器异常</string>
	<key>-100</key>
	<string>注册用户名已存在</string>
	<key>-101</key>
	<string>注册手机号已存在</string>
	<key>-102</key>
	<string>账号错误</string>
	<key>-103</key>
	<string>手机号错误</string>
	<key>-105</key>
	<string>用户未登录</string>
	<key>-106</key>
	<string>用户被禁用</string>
	<key>-107</key>
	<string>用户不存在</string>
	<key>-108</key>
	<string>用户还不是摄影师</string>
	<key>-109</key>
	<string>用户未登录</string>
	<key>-200</key>
	<string>验证码错误</string>
	<key>-201</key>
	<string>验证码已发送</string>
	<key>-202</key>
	<string>验证码发送失败</string>
	<key>-203</key>
	<string>验证码已过期</string>
	<key>-300</key>
	<string>参数错误</string>
	<key>-400</key>
	<string>订单已评价</string>
	<key>-401</key>
	<string>订单不存在</string>
	<key>-402</key>
	<string>订单创建失败</string>
	<key>-1006</key>
	<string>房间数不足</string>
	<key>200</key>
	<string>success</string>
	<key>0</key>
	<string>success</string>
	<key>1000</key>
	<string>用户未登录</string>
	<key>1003</key>
	<string>未查询到数据</string>
	<key>1005</key>
	<string>账号在其他地方登陆</string>
	<key>1006</key>
	<string>账号审核中</string>
	<key>1008</key>
	<string>没有默认公司</string>
	<key>400</key>
	<string>输入错误</string>
</dict>
</plist>
